.admin-page {
  .admin-page-container {
    min-height: 100vh;

    .admin-page-title {
      text-align: center;
      font-size: 2rem;
      background-color: #395257;
      color: #ccc7c7;
      padding: 0.5rem;

      .go-back-icon {
        position: absolute;
        top:1rem;
        left: 1rem;

        &:hover {
          color: tomato;
        }
      }
    }

    .admin-sidebar-and-main-wrapper {
      display: grid;
      grid-template-columns: 15% 80%;
      column-gap: 1rem;
    }
  }
}
